* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: 0;
  outline: none;
}

body {
  @include style-scrollbar;
  @include themify("color", "text");
  @include themify("background-color", "background");
  font-family: $font;
  transition: color 500ms ease, background-color 200ms linear;
}
